
<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h2>Forgot Password</h2>
    </section>
    <mat-divider></mat-divider>
    <br>

    <form [formGroup]="forgotPasswordForm" class="edit-form">
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Your email" formControlName="email" #email  [errorStateMatcher]="esMatcher">
          <mat-error >{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

      
      <mat-divider></mat-divider>
      <br><br>
      <button type="submit" (click)="sendEmail(email.value)" [disabled]="forgotPasswordForm.pristine || forgotPasswordForm.invalid" mat-raised-button color="primary">
          <mat-icon fontSet="far" fontIcon="fa-share-square" inline></mat-icon>
          Send an email to get my password
      </button>
    </form>


  </mat-card>

</div>
